@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'DM Sans';
     --color-primary: #ffffff;
    --color-secondary: #141420;
    --color-accent: #faba54;
}


body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

a{
  text-decoration:none;
}

.popup{
  animation: popup 0.3s;
}

@keyframes popup {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}